html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} 

* {
  --primary-color: rgb(251, 68, 77);
  --secondary-color: rgb(217, 60, 70);
  --primary-text: rgb(0, 0, 0);
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
}