/* @font-face {
  font-family: 'Nobel';
  src: url('/fonts/nobel_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
}