.container {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.logo {
  /* height: 40vmin;
  pointer-events: none; */

  /* width: 6vmin;
  height: auto; */

  height: 3.5em;
  width: auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  align-self: start;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  justify-self: center;

  background-color: rgb(20, 20, 20);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 100%;
  /* padding: 2em; */
}

.disclaimer {
  margin-top: 10px;
  font-size: 0.9em;
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 8px;
  font-size: calc(1.5px + 1.5vmin);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  justify-content: space-between;
  padding: 0.2em 5em 0.2em 5em;
}

.navLinks {
  display: flex;
  gap: 1.2em;
}

.link:not(:last-child) {
  margin-right: 8px;
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: rgb(215, 58, 65);
  white-space: nowrap;
}

.link.active {
  text-decoration: underline;
}

.highlighted {
  color: rgb(251, 68, 77);
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
