.description {
    text-align: center;
}

.input_field,
textarea {
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 0.2em;
    font-size: 1em;
    font-family: inherit;
    color: #000000;
}

textarea{
    resize: vertical;
    height: 10em;
}

.input_field::placeholder,
textarea::placeholder {
    color: #858585;
}

input.btn[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
    width: 30%;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

input.btn[type="submit"]:hover {
    background: var(--secondary-color);
}